/*===Null Style===*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===Variable Colors===*/
:root {
  --primary-background-color: #ffffff;
  --primary-font-color: #212121;
  --secondary-background-color-gray: #f5f4fa;
  --secondary-background-color: #2f303a;
  --overlay-background-color: rgba(47, 48, 58, 0.4);
  --button-background-color: #2196f3;
  --button-background-color-gray: #f5f4fa;
  --secondary-font-color-black: #000000;
  --secondary-font-color-gray: #757575;
  --secondary-font-color-white: #ffffff;
  --secondary-font-transparen-white: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --color-link-off-bk: #transparent;
  --button-border-transparent: #transparent;
}

/*===Main Style===*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

/*===Grid Style===*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===Visually hidden h2===*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===Header Style===*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-left: 93px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list :not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header__nav-link:hover {
  color: var(--accent-color);
}

.header__nav-link:focus {
  color: var(--accent-color);
}

.header__address {
  margin-left: auto;
}

.header__address :not(:last-child) {
  margin-right: 50px;
}

.header__address-link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color-gray);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header__address-link:hover {
  color: var(--accent-color);
}

.header__address-link:focus {
  color: var(--accent-color);
}

.site-logo {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color-black);
}

.site-logo--accent {
  color: var(--accent-color);
}

/*===HERO Style===*/
.hero {
  height: 600px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.hero__overlay {
  height: 100%;
  background: var(--overlay-background-color);
}

.hero__title {
  padding-top: 200px;
  margin-bottom: 30px;
  color: var(--secondary-font-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  height: 50px;
  padding: 0 32px;
  border-radius: 4px;
  background-color: var(--button-background-color);
  color: var(--secondary-font-color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero__btn:active {
  position: relative;
  top: 1px;
}

/*===Soft-Skill Style===*/
.sof-skill {
  padding: 94px 0;
}

.sof-skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sof-skill__list :nth-child(4n) {
  margin-right: 0;
}

.sof-skill__item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.sof-skill__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sof-skill__text {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color-gray);
}

/*===Tech-Skill Style===*/
.tech-skill {
  padding-bottom: 94px;
}

.tech-skill__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.tech-skill__box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tech-skill__box-inner :last-child {
  margin-right: 0px;
}

.tech-skill__link {
  margin-right: 30px;
}

/*===Team Style===*/
/*===Footer Style===*/
.footer {
  padding: 60px 0;
  background-color: var(--secondary-background-color);
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--secondary-font-color-white);
}

.footer__address-list {
  display: inline-block;
}

.footer__address-list :not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-link {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  opacity: 0.6;
  color: var(--secondary-font-color-white);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.footer__address-link:hover {
  opacity: 1;
  color: var(--secondary-font-color-white);
}

.footer__address-link:focus {
  opacity: 1;
  color: var(--secondary-font-color-white);
}
